html, body {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --red: #DE0002;
    --yellow: #FFCE00;
    --flag-height: 150px;
}

.flag-germany{
	height: var(--flag-height);
	width: calc(var(--flag-height) * 5/3);
	display: grid;
	margin: 2rem auto
}

.stripe{
	width: 100%;	
	height: 100%;
}

.black{
	background: var(--black);
}

.red{
	background: var(--red);
}

.yellow{
	background: var(--yellow)
}
