html,
body {
  margin: 0;
  padding: 0;
  background-color: #0d1116;
}

:root {
  --graph-bg: #000;
  --default-square-bg: #161b22;
  --level3: darkblue;
  --level5: blue;
  --level10: lightskyblue;
}

ul {
  padding-left: 0;
  list-style: none;
}

.graph {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  padding: 1em;
  background: var(--graph-bg);
}

.square {
  width: 12px;
  height: 12px;
  background: var(--default-square-bg);
  margin: 3px 3px 3px 0px;
  border-radius: 2px;
}

[data-value="3"] {
  background: var(--level3);
}
[data-value="5"] {
  background: var(--level5);
}
[data-value="10"] {
  background: var(--level10);
}
