html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #c9d1d9;
  font-family: var(--font-main);
}

:root {
  --font-main: "Noto Sans", sans-serif;
  --main-bg: #000;
  --profile-bg: #0d1117;
  --profile-color: #c9d1d9;
  --profile-img-border: #2e343b;
  --username-font-color: #8b949e;
  --username-font-weight: 400;
  --btn-bg: #21262d;
  --btn-color: #c9d1d9;
  --btn-bg-hover: #30363d;
  --btn-border: #373b43;
  --btn-border-hover: #8c949e;
}

.profile-container {
  background: var(--profile-bg);
  min-width: 250px;
  max-width: 400px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border-radius: 10px;
}

.profile-content {
  padding: 1em 2em;
}

.profile-content img {
  border-radius: 50%;
  width: 100%;
  border: 2px solid var(--profile-img-border);
}

.profile-details {
  padding: 1em 0;

  h2,
  h3 {
    margin: 0;
  }

  h3 {
    font-size: 15px;
    font-weight: var(--username-font-weight);
    color: var(--username-font-color);
  }
}

.profile-details button {
  width: 100%;
  background: var(--btn-bg);
  color: var(--btn-color);
  border: 1px solid var(--btn-border);
  border-radius: 6px;
  padding: 0.25em 0;
  font-family: inherit;
}

.profile-details button:hover {
  background: var(--btn-bg-hover);
  border-color: var(--btn-border-hover);
}
