html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --progressbar-bg: lightgrey;
  --start: red;
  --middle: blue;
  --finish: green;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.progress-bar {
  width: 40em;
  height: 1.5em;
  background: var(--progressbar-bg);
  border-radius: 30px;
}

.progress-status {
  border-radius: 30px;
  animation: loading linear 6s forwards;
}

@keyframes loading {
  0% {
    width: 10%;
    background: var(--start);
  }

  50% {
    background: var(--middle);
  }

  100% {
    background: var(--finish);
  }
}
