:root {
    --color-light: lightgray;
    --color-dark: darkgray;
}

html, body {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin: 10px;
    background-color: var(--color-light);
    animation: spanding 1s alternate infinite;

}

@keyframes spanding {
    0% { background: var(--color-light);}
    100%{height: 1.6rem; width: 1.6rem; background: var(--color-dark);}
}
